server:
  port: 8888

spring:
  application:
    name: gateway-service

  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: http://localhost:8080/realms/microservices-realm

  cloud:
    config:
      enabled: false
      discovery:
        enabled: true

    gateway:
      server:
        webflux:
          discovery:
            locator:
              lower-case-service-id: true

management:
  endpoints:
    web:
      exposure:
        include: "*"

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka

  instance:
    prefer-ip-address: true